.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style-type: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.bookList {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
}

.searchContainer {
  margin-left: 5em;
  margin-top: 3em;
}

.searchContainer form {
  line-height: 2em;
}

.searchContainer form input {
  width: 15em;
  line-height: 2em;
  margin-bottom: .75em;
}

.buttonPage {
  line-height: 1.7em;
  margin-bottom: .5em;
  font-size: .7em;
}

.flex-item {
  width: 200px;
  height: auto;
  padding: 0.5em;
}

.synopsis {
  width: 150px;
  height: 250px;
  overflow: hidden;
  padding: 0 2px;
}

.tripButton {
  width: auto;
  line-height: 2em;
  font-size: 0.5em;
  margin-top: auto;
}

p {
  font-size: 12px;
}

.link {
  font-size: .75em;
  float:right;
  margin-top: -4em;
  margin-right: 1em;
  text-decoration: none;
}

.signup {
  margin: 20em auto;
  text-align: center;
}

.signup input {
  text-align: center;
  line-height: 2.5em;
  margin-top: 0.35em;
  margin-bottom: 1em;
}

.signup label {
  font-size: 0.85em;
}

.myDestinations {
  width: 70%;
  border: 1px black solid;
  margin: 5em auto 2em;
  height:auto;
  overflow: hidden;
}


