@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gelasio:500&display=swap');


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.bookList {
  display: flex;
  flex-direction: row;
  align-content: flex-center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4em;
}

.searchContainer {

  border: 1px white solid;
  text-align: center;
  align-content: center;
  align-items: center;
  margin: 10em auto;
}

.searchContainer label {
  font-family: 'Gelasio', serif;
  width: 100%;
  margin-bottom: -2em;
  font-size: 1.3em;
  text-align: center;
}

.searchContainer form {
  width: 100%;
  text-align: center;
  line-height: 3em;
  margin-top: 5em;
  margin-left: auto;
  margin-bottom: 3em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -moz-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

input {
 outline: none;
}

button {
  cursor: pointer;
  outline: none;
}

.buttons {
  float: right;
  align-content: flex-end;
  margin: -7em 2em 2em 0;
}

.searchContainer form input {
  width: 21em;
  border-radius: 100px;
  border: 1px rgba(0, 0, 0, 0.2)solid;
  line-height: 2.3em;
  margin-bottom: 0;
  text-align: center;
  font-size: 1em;
  background-color: white;
  outline: none;
}
.searchContainer form input:hover {
  box-shadow: 1px 3px 12px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 3px 12px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 3px 12px 3px rgba(0, 0, 0, 0.2);
}

.buttonPage {
  font-family: 'Gelasio', serif;
  width: auto;
  border: none;
  background-color: #c8c8a7;
  border-radius: 5px;
  margin-right: 0.15em;
  margin-top: 0.5em;
  line-height: 1.7em;
  padding: 0.15em 1em;
  margin-bottom: 0.3em;
  font-size: .9em;
}

.buttons p {
  display: block;
  font-family: 'Gelasio', serif;
}

.buttonTrips {
  font-family: 'Gelasio', serif;
  width: auto;
  border: none;
  background-color: #c8c8a7;
  border-radius: 5px;
  margin-right: 0.15em;
  margin-top: 0.5em;
  line-height: 1.7em;
  padding: 0.4em 1em;
  margin-bottom: 0.3em;
  font-size: .9em;
}

.buttonBook {
  width:auto;
  border: none;
  background-color: #c8c8a7;
  border-radius: 5px;
  margin-right: 0.15em;
  margin-top: 0.5em;
  line-height: 1.7em;
  padding: 0.5em 1em;
  margin-bottom: 0.3em;
  font-size: .6em;
} 

.tripTitle {
  font-family: 'Gelasio', serif;
  font-size: 1.5em;
  outline: none;
  margin-bottom: 2em;
}

.flex-item {
  width: 200px;
  height: auto;
  padding: 0.5em;
}

.synopsis {
  width: 150px;
  height: 250px;
  background-color: #f2efe5;
  opacity: 0.75;
  overflow:hidden;
  padding: 0 2px;
  margin: -0.75em auto 0;
}

.synopsis :hover {
  overflow:scroll;
}

.synopsis p {
  padding: 0.25em 0.8em 0;
  margin: 0;
}

.synopsis h4 {
  font-size: .9em;
  padding: 0.55em 0.8em 0;
  margin: 0;
}


/* ::-webkit-scrollbar { 
  display: none; 
}
 */

.remButton {
  margin-top: .25em;
  margin-right: 3px;
  line-height: 1.9em;
  font-size: .7em;
}

.delTrip {
  float:right;
  margin-bottom:0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.9em;
  font-size: .75em;
}

.link {
  font-family: 'Gelasio', serif;
  color: black;
  float: right;
  margin-top: 1.7em;
  margin-right: 7em;
  text-decoration: none;
}

.signup {
  z-index: 10;
  margin: 20em auto;
  text-align: center;
}

.signup input {
  text-align: center;
  font-size: 1em;
  line-height: 2em;
  margin-top: 0.35em;
  margin-bottom: 1em;
}

.signup label {
  font-size: 1em;
}

.destinationBook {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.myDestinations {
  width: 35%;
  border: 1.5em #c5c59f solid;
  background-color: #e7e7d9;
  padding: .7em;
  margin: 2em auto 0;
  height: 100%;
  overflow: hidden;
}

.tripClass {
  font-family: 'Gelasio', serif;
  background-color: #c5c59f;
  height: 3em;
  padding: 2em;
  margin: 0 auto;
}

.tripClass h3 {
  margin-left: 7em;
}

.intro {
  min-height: 100vh;
  background-size: 100%;
  background-position: 50%;
  background-image:url('./images/intro.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

.loginIntro {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1em;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color:#ebd76b;
  color: black;
  text-decoration: none;
  padding: .7em .25em;
  border-radius: 10px;
}

.register {position: absolute;
  top: 50%;
  left: 50%;
  font-size: .9em;
  width: 100px;
  margin-left: -50px;
  margin-top: 4em;
  text-align:center;
  font-family: 'Roboto', sans-serif;
}

.hello {
  background: #f3ecd2;
  position: fixed;
  height: 100vh;
  width: 100vw;
}


.hello p {
  text-align: center;
  margin-top: -19em;
  font-size: 1em;
}

.homepage {
  background-image:url('./images/books.jpg');
  background-repeat: repeat;
  min-height: 100vh;
}

.homepage p {
  font-size: .8em;
}

.tripStyle {
  background-image: url('./images/bookcase.jpg');
  background-color: #f2efe5;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
}

.counter {
  padding: .15em .7em .35em;
  color: white;
  background: red;
  font-weight: bolder;
  border-radius: 10%;
  font-size: 1.2em;
  font-weight: bolder;
  margin-left: .5em;
  margin-right: -.8em;
}





